html {
  scroll-behavior: smooth;
}
.content {
	max-width: 860px;
	margin: 0 auto;
	padding: 2em 2.5em;
  padding-top: 0;
}
.topNav {
  max-width: 860px;
  width: auto;
	margin: 0 auto;
	padding: 2em 2.5em;
  padding-bottom: 0;
}
.nav>li>a {
  display: inline-block;
}
.nav>li {
  display: inline-block;
}
.navbar-nav {
  display: inline-block;
}
.title {
  font-size: 2.6rem;
}
.grid {
  padding-left: 5px;
  height: auto;
}
.grid-item {
  float: left;
	width: calc((100%/3) - 10px);
  margin-bottom: 10px;
}
.grid-item>img {
	max-width:100%;
}
#page-container {
	position: relative;
  min-height: 100vh;
}
#content-wrap {
	padding-bottom: 140px;;
}
.container-fluid {
  padding: 0;
}
.right {
  float: right;
}
.navbar-header {
  max-width: 860px;
	margin: 0 auto;
  min-width: 100%;
}
.copyright {
	text-align: center;
	display: block;
}
#sectionAbout {
  padding-top: calc(2em - 10px);
  display: inline-block;
}
#sectionAbout>div {
	width: 50%;
  padding: 1em;
	display: inline-block;
  flex: auto;
  float: left;
}
#sectionWork {
  padding-top: 2em;
}
#sectionContact {
  padding-top: 2em;
}
input, textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	resize: vertical;
}
button[type=submit] {
  width: 20%;
  background-color: #2f788b;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	display: block;
}
button[type=new] {
  width: 40%;
  background-color: #2f788b;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	display: block;
}
form {
	text-align: center;
}
